#workout
	%p= @workout.date
	%p= @workout.workout
	%p= @workout.mood
	%p= @workout.length

=link_to "Edit", edit_work_path(@workout)
|
=link_to "Delete", @workout, method: :delete, data: {confirm: "Are you Sure?"}
|
=link_to "Back",root_path


#exercises
	%h2 Exercises
	= render @workout.exercises


	%h3 Add an Exercise
	= render 'exercises/form'