#workout
	%p= @workout.date
	%p= @workout.workout
	%p= @workout.mood
	%p= @workout.length

=link_to "Edit", edit_work_path(@workout),class:"btn btn-primary"

=link_to "Delete", @workout, method: :delete, data: {confirm: "Are you Sure?"},class:"btn btn-danger"

=link_to "Back",root_path,class:"btn btn-info"


#exercises
	%h2 Exercises
	= render @workout.exercises


	%h3 Add an Exercise
	= render 'exercises/form'